{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

    <form action="" method="post">
      <div>
        <label for="title">New Task: </label>
        <input type="text" name="title" placeholder="Enter Todo..."> <button type="submit" value="submit">Add</button>
        <br>
      </div>
    </form>
   <hr>


<table style="width:100%">
  <thead><tr><th>Task</th><th>Status</th><th>Update</th></tr></thead>
<tbody>
      {% for task in data %}
      {% if task.listName == 'To Do' %}
      <tr><td>{{task.name}}</td><td>{{task.listName}}</td><td><a  href="/done/{{ task.id }}">Complete</a></td></tr>
      {% else %}
      <tr><td>{{task.name}}</td><td>{{task.listName}}</td><td><a  href="/undone/{{ task.id }}">Reset</a></td></tr>
      {% endif %}
      {% endfor %}
</tbody>
    </table>

{% endblock %}